{% extends 'profiles/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Editar Perfil' %}{% endblock %}

{% block menu %}<div class="box">
          <h2>{% trans 'Mi cuenta' %}</h2>
          <ul>
            <li><a class="" href="{% url profile-show %}"><span>{% trans 'Mi Perfil' %}</span></a></li>
            <li><a class="current" href="{% url profile-edit %}"><span>{% trans 'Editar Perfil' %}</span></a></li>
            <li><a class="" href="{% url account-password_change_form %}"><span>{% trans 'Cambiar contraseña' %}</span></a></li>
            <li><a href="{% url account-logout %}"><span>{% trans 'Cerrar sesión' %}</span></a></li>
          </ul>
        </div>{% endblock %}

{% block content %}
<h2>{% trans 'Editar Perfil' %}</h2>
{% if form.errors %}<p class="error">{% trans 'Please correct the errors below' %}:</p>{% endif %}

<form method="post" action="">
  <div id="username">
    <label class="label-text">{% trans 'Username' %}:</label>
    <span class="username">{{ user.username }}</span>
    {{ form.username }}
  </div>

  <div id="div-first_name">
    <label class="label-text" for="id_first_name">{% trans 'Name' %}:</label>
    <span class="username">{{ user.first_name }}</span>
    <span class="username">{{ user.last_name }}</span>
  </div>

  <div id="div-email">
    <label for="id_email">{% trans 'Direcci&oacute;n de correo electr&oacute;nico' %}:</label>
    {% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}
    {{ form.email }}
  </div>

  <div class="div-group clearfix">
    <div id="div-nickname">
      <label for="id_nickname">{% trans 'Nick' %}:</label>
      {% if form.nickname.errors %} <span class="error">{{ form.nickname.errors|join:", " }}</span>{% endif %}
      {{ form.nickname }}
    </div>
	
    <!--<div id="div-gender">
      <label for="id_gender">{% trans 'Gender' %}:</label>
      {% if form.gender.errors %} <span class="error">{{ form.gender.errors|join:", " }}</span>{% endif %}
      {{ form.gender }}
    </div>-->
  </div>
  
  <!--<div id="div-birthdate" class="clearfix">
    <label for="id_birthdate">{% trans 'Birthdate' %}:</label>
    {% if form.birthdate.errors %} <span class="error">{{ form.birthdate.errors|join:", " }}</span>{% endif %}
    {{ form.birthdate }}
  </div>-->

  <div id="div-location" class="clearfix">
    <label for="id_location">{% trans 'Ubicaci&oacute;n' %}:</label>
    {% if form.location.errors %} <span class="error">{{ form.location.errors|join:", " }}</span>{% endif %}
    {{ form.location }}
  </div>

  <div id="div-interests" class="clearfix">
    <label for="id_interests">{% trans 'Intereses' %}:</label>
    {% if form.interests.errors %} <span class="error">{{ form.interests.errors|join:", " }}</span>{% endif %}
    {{ form.interests }}
  </div>
  
  <div class="clearfix">
    <input class="submit-info" type="submit" value="{% trans 'Guardar los cambios' %}" />
  </div>
</form>
{% endblock %}

