{% extends 'base_profile.html' %}
{% load i18n %}

{### HEAD ###}
{% block title %}{% trans 'Otros Perfiles' %}{% endblock %}

{### MAIN ###}
{% block main-css %}profile-others{% endblock %}
{% block main-title %}{% trans 'Otros Perfiles' %}{% endblock %}
{% block main-content %}
<form id="form-add-website" method="post" action="">
  <div class="clearfix">
    <div id="div-website">
      <h2 class="h2-profile">{% trans 'Social Network' %}</h2>
      {{ sn_form.form_name }}
      {% if sn_form.network.errors %}<span class="error">{{ sn_form.network.errors|join:", " }}</span>{% endif %}
      {{ sn_form.network }}
      <label for="id_website_account">{% trans 'Usuario/Id' %}:</label>
      {{ sn_form.account }}
      <input type="submit" class="add-profile" value="{% trans 'Add' %}" />
    </div>
    <div>
    <ul class="profile-links showinfo-list">
      {% for link in user.linksocialnetwork_set.all %}<li class="profile-item">
        <a class="link-profile showinfo-item-{{ link.service.slug }} webprofile" href="{{ link.get_account }}">{{ link.service.name }}</a>
        <a href="{{ link.get_deletion_url }}" class="delete-profile"><img src="/media/icons/delete.png" alt="Delete" title="Delete" /></a>
      </li>{% endfor %}
    </ul>
    </div>
  </div>
</form>

<form id="form-add-im" method="post" action="">
  <div class="clearfix">
    <div id="div-im">
      <h2 class="h2-profile">{% trans 'IM Service' %}</h2>
      {{ im_form.form_name }}
      {% if im_form.messenger.errors %} <span class="error">{{ im_form.messenger.errors|join:", " }}</span>{% endif %}
      {{ im_form.messenger }}
      <label for="id_service_account">{% trans 'Account' %}:</label>
      {{ im_form.account }}
      <input type="submit" class="add-profile" value="{% trans 'Add' %}" />
    </div>
    <ul class="profile-links showinfo-list">
      {% for link in user.linkinstantmessenger_set.all %}<li class="profile-item">
        <span class="link-profile showinfo-item-{{ link.service.slug }} improfile"><!-- {{ im.service.name }}: -->{{ link.account }}</span>
        <a href="{{ link.get_deletion_url }}" class="delete-profile"><img src="/media/icons/delete.png" alt="Delete" title="Delete" /></a>
      </li>{% endfor %}
    </ul>
  </div>
</form>

<form id="form-add-other" method="post" action="">
  <div class="clearfix">
    <div id="div-otherwebsite">
      <h2 class="h2-profile">{% trans 'Other Website' %}</h2>
      {{ w_form.form_name }}
      {% if w_form.name.errors %}<span class="error">{{ w_form.name.errors|join:", " }}</span>{% endif %}
      <label for="id_otherwebsite_label">{% trans 'Label' %}:</label>
      {{ w_form.name }}
      {% if w_form.url.errors %}<span class="error">{{ w_form.url.errors|join:", " }}</span>{% endif %}
      <label for="id_otherwebsite_link">{% trans 'Website' %}:</label>
      {{ w_form.url }}
      <input type="submit" class="add-profile" value="{% trans 'Add' %}" />
    </div>
    <ul class="profile-links showinfo-list">
      {% for link in user.linkwebsite_set.all %}<li class="profile-item">
        <a href="{{ link.url }}" class="link-profile showinfo-item-web webprofile">{{ link.name }}</a>
        <a href="{{ link.get_deletion_url }}" class="delete-profile"><img src="/media/icons/delete.png" alt="Delete" title="Delete" /></a>
      </li>{% endfor %}
    </ul>
  </div>
</form>
{% endblock %}

{### SIDEBAR ###}
{% block sidebar %}{% endblock %} 
