{% extends 'base_profile.html' %}
{% load i18n %}

{### HEAD ###}
{% block title %}{% trans 'Profile' %}{% endblock %}

{### MAIN ###}
{% block main-title %}{% trans 'Notificaciones' %}{% endblock %}
{% block main-content %}
<form action="" method="post">
<div>
  {% blocktrans with user.email as user_email %}Se enviará una notificación por email a <span class="profile-email">{{ user_email }}</span>:{% endblocktrans %}
</div>
<div>
  <input type="checkbox" id="id_message_received" name="private_message_received" checked="checked"/>
  <span class="label">{% trans 'Al recibir un mensaje privado.' %}</span>
</div>
<div>
  <input type="checkbox" id="id_message_received" name="private_message_received" checked="checked"/>
  <span class="label">{% trans 'Noticias y actualizaciones de Fiubar (a lo sumo uno por mes).' %}</span>
</div>
<div><input type="submit" value="{% trans 'Guardar cambios' %}"/></div>
</form>
{% endblock %}

{### SIDEBAR ###}
{% block sidebar %}{% endblock %} 
