{% extends 'base_profile.html' %}
{% load i18n profile paginator %}

{### HEAD ###}
{% block title %}{% trans 'Buscar Usuarios' %}{% endblock %}
{% block link-css %}
    <link rel="stylesheet" href="/media/css/profile.css" type="text/css" />    
    <link rel="stylesheet" href="/media/css/paginator.css" type="text/css" />    
{% endblock %}

{### MAIN ###}
{% block main-title %}{% trans 'Buscar Usuarios' %}{% endblock %}
{% block main-content %}
<p>{% trans 'Buscá por nombre de usuario, nombre o apellido.' %}
{% trans 'Se devolverán los resultados de cada palabra ingresada.' %}</p>
<form id="search-form" action="" method="get">
  <div>
    {% if form_errors %}<span class="error">{{ form_errors }}</span>{% endif %}
    <input type="text" id="id_search_form" name="q" value="{{ search_query|escape }}" />
    <input type="submit" value="{% trans 'Search' %}" />
  </div>
</form>    
{% if search_query %}
<div class="profile-list search-results">
  {% if num_results %}<h3 class="results">{% trans 'Results' %} <b>{{ search_begin }}</b> - <b>{{ search_end }}</b> {% trans 'of' %} <b>{{ num_results }}</b>{% if search_query %} {% trans 'for' %} <b>{{ search_query }}</b>.{% endif %}
  {% else %}<h3 class="results" style="text-align:left"><b>{% trans 'No results' %}</b></span>{% endif %}</h3>
  {% if object_list %}
  <ul class="profile-list">{% for profile in object_list %} 
    <li>
      <div class="profile-photo">
        <a href="{{ profile.url_profile }}" title="{% trans 'Ver perfil' %}">
          <img src="{% profile_show_avatar profile 'box_s' %}" alt="" title="{{ profile.get_full_name }}" /> 
        </a>
      </div>  
      <div class="profile-info">
        <div class="user-name">
          <a href="{{ profile.url_profile }}" titile="{% trans 'Ver perfil' %}">{{ profile.get_full_name }}</a>
        </div>
        <div class="profile-carreras">{% for c in profile.get_carrera %}{{ c.carrera.name }}<br />{% endfor %}</div>
      </div>
    </li>
  {% endfor %}</ul>{% endif %}
</div>
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}
{% endif %}
{% endblock %}

{### SIDEBAR ###}
{% block sidebar %}{% endblock %} 
