{% extends 'facultad/base.html' %}
{% load staticfiles i18n profile paginator facultad_tags %}


{% block title %}{{ carrera.name }}{% endblock %}

{% block inner %}
<h2><img class="group-picture" src="{% static 'avatars/groups/fiuba-{{ carrera.short_name }}_s.png' %}" alt="" title="{{ carrera.name }}" /> {{ carrera.name }}</h2>
<div class="profile-list search-results">
  <p class="group-num_members">{{ hits }} {{ object }}{{ hits|pluralize }}</p>
  <ul class="profile-list">{% for alumno in object_list %}
    <li>
      <div class="profile-photo">
        <a href="{{ alumno.url_profile }}" title="{% trans 'Ver perfil' %}">
          <img src="{% profile_show_avatar alumno.user 'box_s' %}" alt="" title="{{ alumno.user.get_full_name }}" />
        </a>
      </div>
      <div class="profile-info">
        <div class="user-name">
          <a href="{{ alumno.url_profile }}" titile="{% trans 'Ver perfil' %}">{{ alumno.user.get_full_name }}</a>
        </div>
        <div class="profile-carreras">{{ alumno.begin_date_to_cuat }}</div>
      </div>
    </li>
  {% endfor %}</ul>
</div>
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}
{% endblock %}
