{% extends 'facultad/base_panel.html' %}
{% load staticfiles i18n facultad_tags %}

{% block head_title %}{% trans 'Carreras' %}{% endblock %}
{% block panel-item-carreras %}list-group-active{% endblock %}

{% block inner_title %}{% trans 'Borrar Carrera' %}{% endblock %}
{% block inner %}
    {% if not list_carreras %}
        <p>{% trans 'No estás cursando ninguna carrera.' %}</p>
    {% else %}

    <ul class="list-group list-group-emails">
      {% for a in list_carreras %}
        <li class="clearfix list-group-item">
          <span class="pull-left" style="vertical-align:middle">
            {{ a.carrera.name }}
            {% if a.plancarrera.orientacion %}<br /><span class="small">{{ a.plancarrera.orientacion }}</span>{% endif %}
  	        <br /><span class="small">Plan {{ a.plancarrera.pub_date.year }}</span><br />
          </span>
          <span class="pull-right" style="vertical-align:middle">
            <a href="{{ a.url_delete }}" class="btn btn-link delete">
                <img src="{% static 'images/facultad/delete.png' %}" alt="{% trans 'Borrar' %}" />
                {% trans 'Borrar' %}
            </a>
          </span>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
{% endblock %}
