{% extends "base.html" %}
{% load i18n facultad_tags %}
{% block head_title %}{% trans "Facultad" %}{% endblock head_title %}

{% block page_messages %}{% endblock %}

{% block content %}
<div class="row">
  <div class="{% block panel_class %}col-sm-3 col-md-3{% endblock %}">
    <div class="panel panel-default panel-facultad">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Facultad" %}</h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item {% block panel-item-materias %}{% endblock %}">
          <a href="{% url 'facultad:home' %}">{% trans "Mis Materias" %}</a></li>
        {% get_carreras %}
        {% if list_carreras %}
        {% for a in list_carreras %}
        <li class="list-group-item {% block panel-item-facultad-carrera %}{% endblock %} abbr">
          <a href="{{ a.url_materias_tab_todas }}" class="fiuba-minilogo"><span>{{ a.carrera.abbr_name }}</span><br />
          {% if a.plancarrera.orientacion %}<span class="small">{{ a.plancarrera.orientacion }}</span><br />{% endif %}
          <span class="small">Plan {{ a.plancarrera.pub_date.year }}</span></a></li>
        {% endfor %}
        {% endif %}
        <li class="list-group-item {% block panel-item-cargar-materias %}{% endblock %}">
          <a href="{% url 'facultad:cargar-materias' %}">{% trans "Cargar Materias" %}</a></li>
        <li class="list-group-item {% block panel-item-carreras %}{% endblock %}">
          <a href="{% url 'facultad:carreras-home' %}">{% trans "Carreras" %}</a></li>
      </ul>
    </div>
  </div>
  <div class="{% block content_class %}col-sm-9 col-md-8{% endblock %}">
    {% block panel-main %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% block inner_title %}{% endblock %}</h3>
      </div>
      <div class="panel-body">
        {% include 'messages.html' %}
        {% block inner %}{% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
