{% extends 'facultad/base.html' %}
{% load i18n facultad_tags %}

{% block title %}{% trans 'Cargar Materias' %}{% endblock %}

{% block content %}
<h2>{% trans 'Cargar Materias' %}</h2>
  <p>
    Podés cargar fácilmente tus materias, copiando y pegando tu listado de materias aprobadas que se encuentra en el
    <a href="http://intra.fi.uba.ar/insc/src/">Sistema de Información Académica</a>.
    Sólo vamos a guardar la materia aprobada, nota y fecha (si no querés ingresar la información de
    Libro/Folio, podés borrarla).
  </p>
 {% if materia_list %}
  <p class="user-messages"><span class="status-correct">
      {% ifequal materia_list_count 1 %}Se cargó 1 materia{% else %}Se cargaron {{ materia_list_count }} materias{% endifequal %}
  </span></p>
  <table>
    <tr>
      <th class="margin-left">{% trans 'Materia' %}</th>
      <th class="materias">{% trans 'Nota' %}</th>
      <th>{% trans 'Fecha Aprobada' %}</th>
    </tr>
  {% for m, final_date, nota in materia_list %}
    <tr>
      <td class="margin-left">{{ m.get_name }}</td>
      <td>{{ nota }}</td>
      <td>{{ final_date|date:"d-m-Y" }}</td>
    </tr>
  {% endfor %}
  </table>
  <hr />
 {% endif %}
  {% if text_paste %}<p>{% trans 'Ciertas líneas no pudieron ser parseadas (las materias con nota 2 no son tenidas en cuenta):' %}</p>{% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <div><textarea name="paste" class="cargar-materias">{{ text_paste }}</textarea></div>
    <div><input type="submit" value="{% trans 'Cargar Materias' %}" /></div>
  </form>
{% endblock %}
