{% extends 'facultad/base.html' %}
{% load i18n groups profile %}


{% block title %}{% trans 'Calendario' %}{% endblock %}

{% block main-css %}facultad-events{% endblock %}
{% block content %}
<h2>{% trans 'Calendario' %}</h2>
  <div class="events-list">
    <p><a class="link-button add-event" href="{% url 'facultad:facultad-events_add' %}">{% trans 'Agregar Fecha' %}</a></p>
    {% if event_list %}
    <p class="group-num_members">{{ event_list.count }} evento{{ event_list.count|pluralize }} en los próximos 30 días</p>
    <ul class="events">
    {% for e in event_list %}
        {% ifchanged e.materia %}{% if not forloop.first %}</ul>
       </li>{% endif %}{% endifchanged %}
      {% ifchanged e.materia %}<li><a href="{{ e.materia.url_events }}">{{ e.materia.get_codigo }} {{ e.materia.name }}</a>
        <ul class="last-events-materia">{% endifchanged %}
          <li>
          <a href="{{ e.event.date|date:"M/d"|lower }}/"></a>{{ e.event.date|date:"d/m, H:s" }} hs:
          {{ e.event.title }},
          {{ e.event.where }}</li>
        {% ifchanged e.materia %}{% if forloop.last %}</ul>
       </li>{% endif %}{% endifchanged %}
    {% endfor %}
    </ul>
    {% else %}
    <p>{% trans 'No hay fechas importantes en los próximos 30 días.' %}</p>
    {% endif %}

  </div>
{% endblock %}
