{% extends 'facultad/base_panel.html' %}
{% load staticfiles i18n facultad_tags %}

{% block head_title %}{% trans 'Mis Materias' %}{% endblock %}

{% block main-css %}facultad{% endblock %}

{% block panel-item-facultad-home %}list-group-active{% endblock %}

{% block inner_title %}{% trans 'Mis Materias' %}{% endblock %}
{% block inner %}
<div class="materias">
{% if list_matcur.count %}
  <ul>
  {% for m in list_matcur %}
    {% with materia=m.materia %}
      <li class="materia-{% if m.falta_final %}final{% else %}cursando{% endif %}">
        <a class="{{ link_class }}" href="{{ materia.url_edit_materia }}" title="{% trans 'Editar' %}">
        {{ materia.get_codigo }}
        {{ materia.name }}
        </a>
      </li>
  {% endwith %}
  {% endfor %}
  </ul>
{% else %}
  <span>No estás cursando ninguna materia.</span>
{% endif %}
</div>
<div class="clear"></div>
{% endblock %}

{% block panel-secondary %}
<div class="panel panel-default" id="mis-carreras">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Mis Carreras' %}</h3>
  </div>
  <div class="panel-body">
    {% if not list_carreras %}
        <p>{% trans 'No estás cursando ninguna carrera.' %}</p>
    {% else %}
    <div class="content">
    <table class="table table-responsive table-hover table-condensed carreras">
      <tbody>
        <tr class="active">
            <th class="th-left">{% trans 'Carrera' %}</th>
            <th class="materias">{% trans 'Créditos' %}</th>
            <th class="materias">{% trans 'Promedio' %}</th>
            <th class="materias">{% trans 'Materias' %}</th>
            <th class="graduado">{% trans '¡Me recibí!' %}</th>
        </tr>
        {% for a in list_carreras %}
        <tr>
            <td class="carrera">
                <a href="{{ a.url_materias_tab_todas }}"> <span>{{ a.carrera.name }}</span></a>
                {% if a.plancarrera.orientacion %}<br /><span class="label-big">{{ a.plancarrera.orientacion }}</span>{% endif %}
                <br /><span class="label-big">Plan {{ a.plancarrera.pub_date.year }}</span>
            </td>
            <td class="materias">
                <p>{{ a.creditos }}</p>
                <span class="label">({{ a.get_creditos|floatformat:"0" }}%)</span>
            </td>
            <td class="materias">
                <p>{{ a.promedio }}</p>
            </td>
            <td class="materias">
                <a href="{{ a.url_materias_tab_todas }}">
                    <img src="{% static 'images/facultad/book_open.png' %}" alt="{% trans 'Ver' %}" />
                </a>
            </td>
            <td class="graduado">
                <a href="{{ a.url_graduado }}" class="label-big">
                {% if a.graduado_date %}
                    {{ a.graduado_date|date:"F Y"}}
                </a>
                <br/>
                    <span class="small">
                        ({{ a.tiempo_carrera }})
                    </span>
                {% else %}
                    <img src="{% static 'images/facultad/graduado.png' %}" alt="{% trans '¡Me recibí!' %}" />
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
    </div>
    {% endif %}
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
