{% extends 'facultad/base_panel.html' %}
{% load staticfiles i18n facultad_tags %}

{% block head_title %}{% trans 'Mis Materias' %}{% endblock %}

{% block main-css %}facultad{% endblock %}

{% block panel-item-facultad-home %}list-group-active{% endblock %}

{% block inner_title %}{% trans 'Mis Materias' %}{% endblock %}
{% block inner %}


<div class="materias">
{% if list_matcur.count %}
  <ul>
  {% for m in list_matcur %}
    {% with materia=m.materia %}
      <li class="materia-{% if m.falta_final %}final{% else %}cursando{% endif %}">
        <a class="{{ link_class }}" href="{{ materia.url_edit_materia }}" title="{% trans 'Editar' %}">
        {{ materia.get_codigo }}
        {{ materia.name }}
        </a>
      </li>
  {% endwith %}
  {% endfor %}
  </ul>
{% else %}
  <span>No estás cursando ninguna materia.</span>
{% endif %}
{% if not list_carreras %}
   <a href="{% url 'facultad:carreras-add' %}">¿Qué carrera cursás?</a>
{% endif %}
</div>
<div class="clear"></div>
{% endblock %}
