{% load i18n facultad_tags %}
{# Barra de navegación #}
<li class="{% if slug == 'facultad' %}active{% endif %}">
  <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'facultad:home' %}">{% trans "Facultad" %}<span class="caret"></span></a>
  <ul class="xdropdown-menu">
    <li><a href="{% url 'facultad:home' %}"><span>{% trans 'Home' %}</span></a></li>
    <li role="separator" class="divider"></li>
    {% get_carreras %}
    {% if list_carreras %}
    <!-- <li><a href="{% url 'facultad:facultad-materias' %}"><span>{% trans 'Mis Materias' %}</span></a></li> -->
    {% for a in list_carreras %}
        <li><a href="{{ a.url_materias }}" class="fiuba-minilogo"> <span>{{ a.carrera.abbr_name }}</span>
          <br />{% if a.plancarrera.orientacion %}<span class="small" style="display:block">{{ a.plancarrera.orientacion }}</span>{% endif %}
          <span class="smaller">Plan {{ a.plancarrera.pub_date.year }}</span>
          </a></li>
    {% endfor %}
    <li role="separator" class="divider"></li>
    {#<li><a href="{% url 'facultad:facultad-search' %}">{% trans 'Search Materias' %}</a></li>#}
    {% endif %}
    <li><a href="{% url 'facultad:facultad-cargar_materias' %}"><span>{% trans 'Cargar Materias' %}</span></a></li>
    <li><a href="{% url 'facultad:carreras-home' %}"><span>{% trans 'Carreras' %}</span></a></li>
  </ul>
</li>
