{% load staticfiles i18n facultad_tags %}
		<tr class="{{ link_class }}">
			<td class="icono">
				<img src="{% static 'images/facultad/'|add:icon_file %}" alt="" title="{{ title }}" />
			</td>
			<td class="margin-left">
				<a name="{{ materia.id }}"></a>
				<a href="{{ materia.url_edit_materia }}">
					{{ materia.get_codigo }} {{ materia.name }}
				</a>
			</td>
			<td>
			  {% if tab_cursando %}<span id="materia-falta_cuat" class="small">{{ falta_cuat }}</span>
        		  {% elif tab_aprobadas %}<span id="materia-fecha_aprobada">{{ fecha_aprobada }}</span>
			  {% elif tab_todas %}<span id="materia-falta_cuat">{{ falta_cuat }}</span>{% endif %}
			</td>
			<td>
			  {% if tab_aprobadas %}<span id="materia-nota">{{ nota|apnumber }}</span>
			  {% elif tab_todas %}<span id="materia-correlativas">
			  {% for m in planmateria.correlativas %}  <span class="{{ m.0 }}" title="{{ m.2 }}">{{ m.1 }}</span>{% if not forloop.last %} - {% endif %}
			  {% endfor %}</span>{% endif %}
			</td>
			{% if tab_para_cursar %}<td><span id="materia-creditos">{{ planmateria.creditos }}</span></td>{% endif %}
		</tr>
