{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block head_title %}{% trans 'Preguntas Frecuentes' %}{% endblock %}
{% block head-description %}Preguntas Frecuentes con sus Respuestas.{% endblock %}

{% block content %}
<div class="col-md-9 page-faq" role="main">
<h2 class="page-header" id="">Preguntas Frecuentes</h2>

<h3>¡No puedo iniciar sesión!</h3>
<p>¡Buuuuu! Nos ponemos muy tristes... <img src="{% static 'images/emoticon_unhappy.png' %}" alt=":(" class="faq-icon" /></p>
<ul>
  <li><b>¿Recibiste el mail de activación de cuenta? ¿Pudiste activar tu cuenta?</b> Si tu respuesta es no, informanos sobre esta situación <a href="{% url 'contact_form' %}">en esta página</a>.</li>
  <li><b>¿Olvidaste tu contraseña?</b> Podés reinicializarla <a href="{% url 'account_reset_password' %}">en este link</a>. Te enviaremos un mail con instrucciones para generar una nueva, y tu nombre de usuario, por si lo olvidaste.</li>
</ul>
<p>Recordá que para iniciar sesión, podés ingresar tanto tu nombre de usuario, sin importar minúsculas o mayúsculas, como tu email.</p>

<h3>¿Qué es Fiubar?</h3>
<p>
  Fiubar es un proyecto creado por estudiantes de FIUBA, con el objetivo de poder subir apuntes
  e intercambiar información sobre las distintas materias, conocer a nuestros compañeros,
  crear grupos de discusión y compartir intereses.
  No tenemos ninguna relación oficial con la Facultad de Ingeniería de la Universidad de Buenos Aires.
</p>

<h3>¿Cuál es el origen del nombre Fiubar?</h3>
<p>
  El origen del nombre deriva de la manera de llamar a nuestra facultad: FIUBA. La sigla significa: Facultad de Ingeniería de la Universidad de Buenos Aires. En ella se estudian varias carreras de Ingeniería y otras de menor duración, así como posgrados y doctorados. Para más información, visitá el sitio <a href="http://www.fi.uba.ar/">http://www.fi.uba.ar/</a>
</p>

<h3>¿Quiénes pueden registrarse en Fiubar?</h3>
<p>
  El uso de Fiubar es exclusivo para la comunidad de FIUBA: alumnos, docentes, graduados y no docentes.
  En el caso de que igualmente estés interesado en participar, contanos por qué querés registrarte, y analizaremos tu pedido.
</p>

<h3>¿Qué van a hacer con mis datos?</h3>
<p>
  Utilizamos Google Analytics para estadísticas, y los datos provistos por Google OAuth, Facebook Authentication y Windows Live Connect
  para tu cuenta de Fiubar.
</p>
<p>
  Nuestra <a href="{% url 'tos' %}">política de privacidad</a> es la siguiente:
  <strong>en ningún caso tus datos serán proporcionados a terceros ni
  utilizados para otros fines</strong>.
</p>

<h3>¿Quién tiene acceso a mi contraseña?</h3>
<p>
  Por seguridad, tu contraseña es guardada en la base de datos utilizando el algoritmo de hash provisto por
  <a href="http://www.djangoproject.com/">Django</a>, haciendo
  imposible que cualquier persona, incluído el administrador, pueda descifrarla. Para más información,
  podés leer <a href="https://docs.djangoproject.com/en/2.0/topics/auth/passwords/">la documentación</a>.
</p>

<h3>¿Está terminado el sitio?</h3>
<p>
   Fiubar se encuentra en eterna <i><a href="http://es.wikipedia.org/wiki/Fases_del_desarrollo_de_software#Beta">versión beta</a></i>:
   hay funcionalidades que no están del todo listas y otras que todavía no se pueden usar. Pero tenemos todas las pilas para
   arreglar el sitio y mejorarlo <img title=":)" alt=":)" src="{% static 'images/emoticon_smile.png' %}" class="faq-icon" />.
   ¡Esperamos ansiosamente tus comentarios!
</p>

<h3>¿Cómo borro mi cuenta?</h3>
<p>
  Si querés borrar tu cuenta junto a tus datos, solicitalo <a href="{% url 'contact_form' %}">en este formulario</a>.
</p>

<h3>Mi pregunta no está en la lista.</h3>
<p>
  Podés contactarnos por medio de <a href="{% url 'contact_form' %}">esta página</a>, ¡te responderemos a la brevedad!
</p>
</div>
{% endblock %}
