{% load i18n crispy_forms_tags %}
        {% with form=forms.signup %}
        <div class="account">
          <h3 class="page-header">{% trans "Sign Up" %}</h1>
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
        {% endwith %}
