{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reportar un error' %}{% endblock %}
{% block head-description %}Reportar un error.{% endblock %}

{% block menu %}<div class="box">
		  <h2>Acerca de</h2>
		  <ul>
			<li><a href="{% url about-fiubar %}"><span>Acerca de Fiubar</span></a></li>
			<li><a href="{% url about-faq %}"><span>Preguntas Frecuentes</span></a></li>
			<li><a class="current" href="{% url about-bugs %}"><span>Reportar un error</span></a></li>
			<li><a href="{% url about-contact %}"><span>Contactanos</span></a></li>
		  </ul>
		</div>{% endblock %}

{% block content %}<h2>{% trans 'Reportar un error' %}</h2>
  <p>
	  ¿Encontraste un error? Por favor incluí la mayor cantidad de información posible,
	  como el link de la página y los pasos que hay que seguir para reproducir el error.<br />
	  Si te interesa participar en Fiubar reportando errores, podés mirar
	  <a href="http://code.fiubar.com.ar/">este sitio</a>.
	</p>
		<div><form action="" method="post">
		  <div>
		    <input type="hidden" name="subject_template_name" value="contact_form/bugs_form_subject.txt" />
			<label>{# form.name.label #}Tu nombre:</label>
			{% if form.name.errors %} <div class="error">{{ form.name.errors|join:", " }}</div>{% endif %}
			{{ form.name }}
		  </div>
		  <div>
			<label>{# form.email.label #}Tu dirección de email:</label>
			{% if form.email.errors %} <div class="error">{{ form.email.errors|join:", " }}</div>{% endif %}
			{{ form.email }}
		  </div>
		  <div>
			<label>{# form.body.label #}Tu mensaje:</label>
			{% if form.body.errors %} <div class="error">{{ form.body.errors|join:", " }}</div>{% endif %}
			{{ form.body }}
		  </div>
		  <div>
			<input type="submit" value="{% trans 'Enviar' %}" />
		  </div>
		</form></div>
{% endblock %}

