{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Acerca de Fiubar' %}{% endblock %}

{% block menu %}<div class="box">
          <h2>Acerca de</h2>
          <ul>
            <li><a class="current" href="{% url about-fiubar %}"><span>Acerca de Fiubar</span></a></li>
            <li><a href="{% url about-faq %}"><span>Preguntas Frecuentes</span></a></li>
            <li><a href="{% url about-bugs %}"><span>Reportar un error</span></a></li>
            <li><a href="{% url about-contact %}"><span>Contactanos</span></a></li>
          </ul>
        </div>{% endblock %}

{% block content %}
  <h2>Acerca de Fiubar</h2>
  <p>
    Fiubar es el sitio donde los estudiantes de la <a href="http://www.fi.uba.ar/">Facultad de Ingeniería</a> (FIUBA)
    pueden subir apuntes e intercambiar información sobre materias, conocer a sus compañeros, crear grupos y compartir intereses!
  </p>
  <p>
  	El código de Fiubar fue escrito en septiembre 2007 por <a href="http://maruberezin.com.ar/">María Eugenia Berezin</a>, quien también se encarga del mantenimiento del sitio. Varias funcionalidades fueron agregadas gracias a valiosas sugerencias de usuarios. 
  </p>
  <p>
  	Si te interesa mirar el código y participar en el proyecto, podés ver este sitio: <a href="http://code.fiubar.com.ar/" target="_blank">http://code.fiubar.com.ar/</a>
  </p>
  <h3>Software que nos acompaña</h3>
  <p>
    <a href="http://www.fiubar.com.ar/" title="Fiubar">
      <img class="valign-middle border-black" alt="Fiubar" src="/media/images/fiubar_ico.png" title="Fiubar" />
    </a> está programado en
    <a href="http://www.djangoproject.com/" title="Django">
      <img class="valign-middle border-black" alt="Django" src="/media/images/django.png" title="Django" />
    </a>, que es
    <a href="http://www.python.org/" title="python">
      <img class="valign-middle border-black" alt="Python" src="/media/images/python.png" title="python" />
    </a>. Nuestro editor es
    <a href="http://geany.uvena.de/" title="Geany">
      <img class="valign-middle border-black" alt="Geany" src="/media/images/geany.png" title="Geany" />
    </a>. El servidor corre GNU/Linux
    <a href="http://www.debian.org/" title="Debian">
      <img class="valign-middle border-black" alt="Debian" src="/media/images/debian.png" title="" />
    </a>. La base de datos es
    <a href="http://www.postgresql.com/" title="Postgresql">
      <img class="valign-middle border-black" alt="Postgresql" src="/media/images/postgresql.png" title="Postgresql" />
    </a>, usamos listas
    <a href="http://www.gnu.org/software/mailman/" title="Mailman">
      <img class="valign-middle border-black" alt="Mailman" src="/media/images/mailman.png" title="Mailman" />
    </a> y nuestro servidor web
    <a href="http://httpd.apache.org/" title="Apache">
      <img class="valign-middle border-black" alt="Apache" src="/media/images/apache.png" title="Apache" />
    </a>. Los íconos son creación de
    <a href="http://famfamfam.com/" title="FamFamFam">
      <img class="valign-middle border-black" alt="FamFamFam" src="/media/images/about-famfamfam.gif" title="FamFamFam" />
    </a>; las imágenes fueron editadas con
    <a href="http://www.gimp.org/" title="Gimp">
      <img class="valign-middle border-black" alt="Gimp" src="/media/images/gimp.png" title="Gimp" />
    </a>. Testeado exitosamente en
    <a href="http://www.mozilla.com/firefox/" title="Firefox">
      <img class="valign-middle border-black" alt="Firefox" src="/media/images/firefox.png" title="Firefox" />
    </a>,
    <a href="http://www.opera.com/" title="Opera">
      <img class="valign-middle border-black" alt="Opera" src="/media/images/operalogo.gif" title="Opera" />
    </a> y
    <a href="http://lynx.isc.org/" title="Lynx">
      <img class="valign-middle border-black" alt="Lynx" src="/media/images/optimlynx.gif" title="Lynx"/>
    </a>. Auspiciaron los momentos de ocio:
    <a href="http://www.videolan.org/" title="Videolan">
      <img class="valign-middle border-black" alt="Videolan" src="/media/images/videolan.png" title="Videolan" />
    </a> y
    <a href="http://amarok.kde.org/" title="Amarok">
      <img class="valign-middle border-black" alt="Amarok" src="/media/images/amarok.png" title="Amarok" />
    </a>.
  </p>
  <h3>Fotos</h3>
  <p>Usamos las siguientes fotos bajo licencia Creative Commons:</p>
  <ul class="showinfo-list">
    <li class="showinfo-item-flickr webprofile">
      <img class="border-black" src="/media/images/sicoactiva-fiuba.jpg" /> Flickr: <a title="sicoactiva" href="http://www.flickr.com/photos/sicoactiva/421486343/">sicoactiva</a>
    </li>
    <li class="showinfo-item-flickr webprofile">
      <img class="border-black" src="/media/images/sean-b_smile.jpg" /> Flickr: <a class="slink-showinfo" href="http://www.flickr.com/photos/sean-b/245744537/">sean-b</a>
    </li>
  </ul>
{% endblock %}

