{% extends 'base_about.html' %}
{% load i18n %}

{% block title %}{% trans 'Dejar una sugerencia' %}{% endblock %}
{% block head-description %}Dejar una sugerencia.{% endblock %}

{### MAIN ###}

{% block main-title %}
   {% if form %}{% trans 'Dejar una sugerencia' %}
   {% else %}{% trans '¡Gracias por tu contribución!' %}{% endif %}
{% endblock %}

{% block main-content %}
  {% if form %}
	<p>
	  ¿Se te ocurrió una excelente idea para Fiubar? ¡Contanos! <br />
	  Si te interesa participar en Fiubar tirando más ideas, podés mirar
	  <a href="http://code.fiubar.com.ar/">este sitio</a>.
	</p>
	<form id="about-ideas" action="{% url about-ideas %}" method="post">
		<div class="category">
			<label for="id_category">{{ form.category.label }}:</label>
			{% if form.category.errors %} <span class="error">{{ form.category.errors|join:", " }}</span>{% endif %}
			{{ form.category }}
		</div>
		<div>
			<label for="id_subject">{{ form.subject.label }}:</label>
			{% if form.subject.errors %} <span class="error">{{ form.subject.errors|join:", " }}</span>{% endif %}
			{{ form.subject }}
		</div>
		<div>
			<label for="id_description">{{ form.description.label }}:</label>
			{% if form.description.errors %} <span class="error">{{ form.description.errors|join:", " }}</span>{% endif %}
			{{ form.description }}
		</div>
		<input type="submit" value="{% trans 'Enviar' %}" >
	</form>
  {% else %}
	  <div id="about">
		<img src="/media/icons/about/bugs-thankyou-big.jpg" />
		<p class="bugs-thankyou">
			{% trans 'Tu sugerencia fue enviada.' %}<br />
			{% trans '¡La leeremos apenas podamos!' %}
		</p>
	</div>
	<div class="clear"></div>
  {% endif %}
{% endblock %}

{### SIDEBAR ###}
{# {% block sidebar-title %}{% endblock %} {% block sidebar-content%}{% endblock %} #}
