{% load i18n %}

{### SIDEBAR ###}
{% block sidebar-content%}
                <form id="sidebar-bugs" action="{% url about-bugs %}" method="post">
                <div style="margin: 0px">
                  <input type="hidden" name="xhr" value="" />
                  <input type="hidden" name="subject" value="{% trans 'Error (desde sidebar)' %}" />
                  <textarea name="description" class="sidebar" rows="5" cols="5"></textarea>
                  <input type="submit" name="submit" value="{% trans 'Enviar' %}" />
                </div>
                </form>
{% endblock %}
