{% extends 'base_profile.html' %}
{% load i18n %}
    
{### HEAD ###}
{% block title %}{% trans 'Password change' %}{% endblock %}

{### MAIN ###}
{% block main-css %}profile-password{% endblock %}
{% block main-title %}{% trans 'Password change' %}{% endblock %}
{% block main-content %}
    <p>
        {% blocktrans %}Please enter your old password, for security's sake, 
        and then enter your new password twice so we can verify 
        you typed it in correctly.{% endblocktrans %}
    </p>

    <form action="" method="post">
        <p class="aligned wide">
            <label for="id_old_password">{% trans 'Old password:' %}</label>
            {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
            {{ form.old_password }}
        </p>
        <p class="aligned wide">
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
            {{ form.new_password1 }}
        </p>
        <p class="aligned wide">
            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
            {{ form.new_password2 }}
        </p>
        <p>
            <input class="submit-passwd" type="submit" value="{% trans 'Change my password' %}" />
        </p>
    </form>
{% endblock %}

{### SIDEBAR ###}
{% block sidebar %}{% endblock %} 
