<div id="elegir-carrera" class="hiddenx">
  <h2 class="">¿Qué carrera cursás?</h2>
  <div class="container">
    <style>
    @media (min-width: 600px) {
      .container { max-width:600px;}
    }
    </style>
  <div class="row" style="  ">
    <div class="col-md-3 col-sm-3">
      <img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
    <img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
    <img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
<div class="col-md-3 col-sm-3">
<img alt="Ingeniería Civil" data-src="holder.js/140x140" class="img-rounded" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjxz
dmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9
IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwh
LS0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE2MzZl
N2M5Nzg2IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpB
cmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNp
emU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTYzNmU3Yzk3ODYiPjxy
ZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0i
MjUuNzIyNjU5IiB5PSI3My40NSI+SW5nZW5pZXLDrWEgQ2l2aWw8L3RleHQ+PC9nPjwvZz48L3N2
Zz4K" data-holder-rendered="true" style="width: 140px; height: 140px; margin:5px">
</div>
  </div>
</div>

  <!-- Plan -->
  <div id="elegir-carrera-plan" class="">
    <h2 class="">Elegí el plan</h2>
  </div>
  <!-- Orientacion -->
  <div id="elegir-carrera-plan-orientacion" class="">
    <h2 class="">Elegí la orientación</h2>
  </div>
</div>
