<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>{% block title %}Fiubar · {% block head_title %}Administrador de materias{% endblock head_title %}{% endblock title %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Fiubar: administrador de materias para FIUBA">
  <meta name="author" content="Maru Berezin">

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.4.1.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body class="flex text-center">

  <style>div {margin:20px 0px;}</style>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto"></header>
      <main role="main" class="inner cover">
        <div id="app">
        </div>
        <div id="account-login" class="container d-none">
          <div class="row">
            <div class="col-sm">
            {% with form=forms.login %}
            {% include 'account/login_form.html' %}
            {% endwith %}
            </div>
          </div>
        </div>
        <div id="account-signup" class="container d-none">
          <div class="row">
            <div class="col-sm">
            {% with form=forms.signup %}
            {% include 'account/signup_form.html' %}
            {% endwith %}
            </div>
          </div>
        </div>
      </main>
      <footer class="mastfoot mt-auto"></footer>
    </div>
</body>
<script src="{% static 'js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap4.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>
