<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>{% block title %}Fiubar · {% block head_title %}Administrador de materias{% endblock head_title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Fiubar: administrador de materias para FIUBA">
  <meta name="author" content="Maru Berezin">

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body class="">
<div class="container text-center">
  <div id="head-title" class="">
    <h1 class="">Fiubar</h1>
    <p class="lead">
      Administrador de materias</p>
  </div>
  <div id="user-options" class="">
    <div class="">
      <a href="" class="border-radius-xlarge">Nuevo usuario</a>
      o
      <a href="" class="border-radius-xlarge">Iniciar sesión</a>
    </div>
  </div>
  {% include 'new_user/elegir_carrera.html' %}
  {% include 'new_user/agregar_materias.html' %}
  {% include 'new_user/save_data.html' %}

  <div id="user-options" class="hidden">
    <div class="row">
      {% with form=forms.login %}
      {% include 'account/login_form.html' %}
      {% endwith %}
    </div>
  </div>

  <div id="user-options" class="hidden">
    <div class="row">
      {% with form=forms.signup %}
      {% include 'account/signup_form.html' %}
      {% endwith %}
    </div>
  </div>
</div>
</body>
</html>
