{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ site_description }}{% endblock %}
{% block head-extra %}{% endblock %}

{% block top %}
    {% block navigation %}{% include "menu.html" %}{% endblock %}
        <ul class="login">
          {% if user.is_authenticated %}<li><span class="welcome-user">Hola <span class="username">{{ user.username }}</span>!</span></li>
          {#<li><a href="{ # url messages-inbox # }">Inbox</a></li>#}
          <li><a href="{% url account-logout %}">Cerrar sesión</a></li>
          {% else %}<li><a href="{% url account-register %}">¡Creá tu cuenta!</a></li>
          <li><a href="{% url account-login %}">Iniciar sesión</a></li>{% endif %}
        </ul>
<!--    <div id="container-top">
      <a href="/"><h1 id="title"><span>{{ site_name }}</span></h1></a>
      <div id="slogan">{{ site_description }}</div>
      <div id="top-links">
      </div>
    </div>-->{% endblock %}

{% block container %}
    <div class="wrapper">
      <div id="menu">
        {% block menu %}<div class="box">
          <h2>Menu Title</h2>
          <ul>
            <li><a><span>Menu Item 1</span></a></li>
            <li><a><span>Menu Item 2</span></a></li>
            <li><a><span>Menu Item 3</span></a></li>
            <li><a><span>Menu Item 4</span></a></li>
            <li><a><span>Menu Item 5</span></a></li>
          </ul>
        </div>{% endblock %}
      </div>
      <div id="content">
	    {% if messages %}<div class="user-messages">
		  <span class="status-correct">{{ messages|join:","|safe }}</span>
        </div>{% endif %}

        {% block content %}
        <h2>Content Title</h2>
        <div>
          Rerum sint impedit officia nemo, explicabo cum omnis ipsa
          laudantium ullam quibusdam ut totam saepe? Quis exercitationem
          voluptatem qui eveniet cumque ullam quasi facere eius sit modi.
          Sed quaerat atque delectus modi ipsa rem, doloribus vitae non,
          quasi autem qui odio sint deserunt, necessitatibus maiores iste
          modi illum reiciendis soluta nihil itaque? Ratione exercitationem
          fuga voluptatibus id nostrum dolor nam sunt ipsam, obcaecati sunt
          corrupti eveniet rem explicabo, doloremque voluptatem fugiat
          minima quos, totam quia ea voluptas autem, quaerat omnis nisi
          voluptatem corporis ullam porro sint eaque autem molestiae
          assumenda.
        </div>{% endblock %}
      </div>
      <div style="clear: both;"></div>
    </div>{% endblock %}

{% block footer %}
  <div class="first">
      <h4><a href="{% url about-fiubar %}" class="footer-left">Acerca de Fiubar</a></h4>
  </div>
  <div>
      <h4><a href="{% url about-faq %}" class="big">Preguntas frecuentes</a></h4>
  </div>
  <div>
      <h4><a href="{% url about-bugs %}" class="bigger">Reportar un error</a></h4>
  </div>
  <div>
      <h4><a href="{% url about-contact %}" class="big">Contactanos</a></h4>
  </div>
  <div>
      <h4><a href="http://blog.fiubar.com.ar/" target="_blank">Blog de Fiubar</a></h4>
  </div>
  <div>
      <h4><a href="http://code.fiubar.com.ar/" target="_blank">Participá en Fiubar</a></h4>
  </div>
{% endblock %}

{% block body-extra %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/display.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/awstats_misc_tracker.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53791735-1', 'auto');
    ga('send', 'pageview');
  </script>
  <noscript><img src="{{ MEDIA_URL }}js/awstats_misc_tracker.js?nojs=y" height="0" width="0" alt="" style="display: none" /></noscript>
{% endblock %}
