{% load staticfiles i18n %}
<footer class="bd-footer text-muted" role="contentinfo">
  <div class="pull-left">
    <p>{% trans "Hecho con &#10084;" %} 2007-{% now "Y" %}.</p>
  </div>
<div class="pull-right">
  <ul class="bd-footer-links">
    <li><a href="{% url 'about' %}">{% trans "Sobre Fiubar" %}</a></li>
    <li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
    <li><a href="https://github.com/maru/fiubar">GitHub</a></li>
    <li><a href="{% url 'contact_form' %}">{% trans "Contacto" %}</a></li>
  </ul>
</div>
</footer>
