{% load staticfiles i18n %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-extra">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fb-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/brand-white.png' %}" alt="Fiubar">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="fb-navbar">
      <ul class="nav navbar-nav">
        <li class="{% if slug == 'home' %}active{% endif %}"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li class="dropdown {% if slug == 'facultad' %}active{% endif %}">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Facultad" %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-account">
        {% if request.user.is_authenticated %}
        <li class="dropdown {% if slug == 'account' %}active{% endif %}">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile' %}">{% trans "Edit Profile" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans "Sign Out" %}</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Sign Up" %}</a></li>
        <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Sign In" %}</a></li>
        {% endif %}


      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %}
