/*** materia_files **/
div.files-box {
  border: 1px solid #568799;
  margin: 5px 0px;
  padding: 10px 15px;
  width: auto;
}  
div.path {
  font-weight: bold;
  float: left;
}  
span.path {
  color: #265769;
  font-weight: normal;
}    
table.files {
  width: 100%;
}  
table.files th {
  border-bottom:1px solid #B5C7D6;
  font-size: 10px;
  text-align: left;
}
table.files td {  
  padding: 10px;
  border-bottom: 1px solid #DBE3EB;
} 
table.files td.parent-folder {
  background: url('../icons/files/arrow_turn_left.png') no-repeat 0px center;
  padding-left: 20px;
}    
table.files td.folder {
  background: url('../icons/files/folder.png') no-repeat 0px center;
  padding-left: 20px;
}    
table.files td.file {
  padding-left: 20px;
}    
div.nofiles {
  padding: 10px 0px 40px;
  text-align: center;
}
div.files-actions {
  color: #000;
  text-align: right;
}
div.files-actions a { 
  color: #265769;
}
div.delete-info {
  background: url('../icons/exclamation.png') no-repeat 0px center;
  padding-left: 25px;
  margin: 10px 5px;
}    
div.delete-info a {
  color: #c0442a;
}
div.delete-info a:hover {
  color: #EC705B;
}
.new-category a {
  background:transparent url(../icons/exclamation.png) no-repeat scroll 0px center;
  color:#C0442A;
  padding:2px 2px 2px 25px;
}
.new-category a:hover {
  color:#EC705B;
}
/* File extensions */
.file {
  background: url('../icons/files/page_white.png') no-repeat 0px center;
  padding-left: 20px;  
}
.file-doc {
  background: url('../icons/files/page_white_word.png') no-repeat 0px center;
}    
.file-pdf {
  background: url('../icons/files/page_white_acrobat.png') no-repeat 0px center;
}    
.file-jpg {
  background: url('../icons/files/picture.png') no-repeat 0px center;
}    
.file-tar, .file-gz, .file-zip, .file-rar {
  background: url('../icons/files/page_white_compressed.png') no-repeat 0px center;
}    

/*** materia_file_upload ***/
.notify label {
  display: inline;
  font-weight: normal;
}  
form#form-upload input[type="submit"] {
/*    background-image: url('../icons/files/upload.png');*/
}
form#form-upload .file-back {
    background-image: url('../icons/files/arrow_undo.png');
    margin-left: 20px;
}

/*** materia_file_mkdir ***/
form#form-mkdir input[type="submit"] {
/*    background-image: url('../icons/files/folder_add.png');*/
}
form#form-mkdir .file-back {
    background-image: url('../icons/files/arrow_undo.png');
    margin-left: 20px;
}
div#form-submit a:hover {
    text-decoration: none;
}    
