{% extends 'base_materias.html' %}
{% load i18n groups profile %}


{% block head_title %}{{ materia.get_codigo }} {{ materia.name }}{% endblock %}


{% block main--title %}{{ group.name|escape }}{% endblock %}
{% block main-content %}
    <h2 class="h2-showinfo h2-infos">{% trans 'Están cursando' %}</h2>
    <div class="member-list">
    <p class="group-num_members">{{ cursando_list.count }} alumno{{ cursando_list.count|pluralize }}</p>
    {% for member in cursando_list %}
    <a href="/user/{{ member.user.username }}/">
        <img src="{% profile_show_avatar member.user 'box_s' %}"
             class="avatar" alt="{{ member.user.get_full_name }}"
             title="{{ member.user.get_full_name }}" />
    </a>
    {% endfor %}
    </div>

    <h2 class="h2-showinfo h2-infos">{% trans 'Ya cursaron' %}</h2>
    <div class="member-list">
    <p class="group-num_members">{{ aprobando_list.count }} alumno{{ aprobando_list.count|pluralize }}</p>
    {% for member in aprobando_list %}
    <a href="/user/{{ member.user.username }}/">
        <img src="{% profile_show_avatar member.user 'box_xs' %}"
             class="avatar" alt="{{ member.user.get_full_name }}"
             title="{{ member.user.get_full_name }}" />
    </a>
    {% endfor %}
    </div>
{% endblock %}


{# {% block sidebar-title %}{% endblock %} {% block sidebar-content%}{% endblock %} #}
