{% extends 'base_materias.html' %}
{% load i18n groups profile %}

{% block head_title %}{{ materia.get_codigo }} {{ materia.name }}{% endblock %}

{% block main-content %}
  <ul class="materia-items">
    {#------------------------- INFORMACION -------------------------#}
    <li class="box">
      <a class="title" href="{{ materia.url_info }}">{% trans 'Información' %}</a>
      <div class="info">
        <ul>
          <li class="nuevo-msg"><a href="{{ materia.url_alumnos }}">Quiénes Cursan</a> <span class="info-nuevo">¡nuevo!</span></li>
          <li class="nuevo-msg"><a href="{{ materia.url_events }}">Calendario</a> <span class="info-nuevo">¡nuevo!</span></li>
          <li class="notyet"><a href="#"></a>Programa, Créditos, Carreras <span class="info-muypronto">(muy pronto!)</span></li>
        </ul>
      </div>
    </li>
    {#---------------------------- GRUPO ----------------------------#}
    {% if group %}
    <li class="box group" style="background-image: url('/media/avatars/groups/fiuba-{{ materia }}_m.png')">
      <a class="title" href="{{ materia.url_group }}">{% trans 'Grupo' %}</a>
      <div class="info">
        <span class="title">{{ group.num_members }} {% trans 'miembro' %}{{ group.num_members|pluralize }}</span>
        <ul class="members">
        {% for member in members_list %}
          <li><a href="/user/{{ member.user.username }}/">
                <img src="{% profile_show_avatar member.user 'box_xs' %}"
                     class="avatar" alt="{{ member.get_full_name }}"
                     title="{{ member.get_full_name }}" />
            </a> </li>
        {% endfor %}
          <li><a href="{{ group.url_members }}" class="show-10">ver todos &gt;&gt;</a></li>
        </ul>
        <a class="show-all" href="{{ materia.url_group }}">Ir a grupo &gt;&gt;</a>
      </div>
    </li>
    {% endif %}
    {#-------------------------- ENCUESTAS --------------------------#}
    {# {{ materia.url_encuestas }} #}
    <li class="box">
      <a class="title" href="#">{% trans 'Encuestas' %}</a>
      <div class="info">
        <div class="notyet-msg"><span>Estamos trabajando en esto:</span></div>
        <ul class="notyet">
          <li><a href="#"></a>Materia <span class="info-muypronto">(muy pronto!)</span></li>
          <li><a href="#"></a>Cursos <span class="info-muypronto">(muy pronto!)</span></li>
          <li><a href="#"></a>Docentes <span class="info-muypronto">(muy pronto!)</span></li>
        </ul>
      </div>
    </li>
    {#---------------------------- LINKS ----------------------------#}
    {%comment%}
    <li class="box">
      <a class="title" href="{{ materia.url_links }}">{% trans 'Links' %}</a>
      <div class="info">
            <ul>
                <li><a href="http://wiki.foros-fiuba.com.ar/materias:61:03">Wiki de Foros-Fiuba</a></li>
            </ul>
            <a href="{{ materia.url_links }}">Mostrar todos</a>
      </div>
    </li>
    {%endcomment%}
    {#--------------------------- ARCHIVOS --------------------------#}
    {% if group %}
    <li class="box">
      <a class="title" href="{{ materia.url_files }}">{% trans 'Apuntes' %}</a>
      <div class="info">
      {% if files_list %}
        <span class="title">Ultimos archivos subidos:</span>
        <ul class="files">
        {% for f in files_list %}
          <li class="file file-{{ f.extension }}">
            <a href="{{ materia.url_files_path }}{{ f.folder.path }}">{{ f.name }}</a>
          </li>
        {% endfor %}
        </ul>
        <a class="show-all" href="{{ materia.url_files }}">Ver todos &gt;&gt;</a>
      {% else %}
        <span class="">No hay archivos todavía.</span>
        <a class="show-all" href="{{ materia.url_files }}">Subir archivo &gt;&gt;</a>
      {% endif %}
      </div>
    </li>
    {% endif %}
    {#---------------------------- CURSOS ---------------------------#}
    {%comment%}
    <li class="box">
      <a class="title" href="#">Cursos</a>
      <div class="info">
      </div>
    </li>
    {%endcomment%}
  </ul>
  <div class="clear"></div>
{% endblock %}



