{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers|dictsort:"name" %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands|dictsort:"name" %}
   <a id="{{brand.id}}-connect" class="fa-stack fa-lg {{brand.id}}-btn social-login-btn"
   href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" title="{{brand.name}}">
     <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-{{brand.id}} fa-stack-1x fa-inverse"></i>
   </a>
{% endfor %}
{% endif %}
  <a id="{{provider.id}}-connect" class="fa-stack fa-lg {{provider.id}}-btn social-login-btn"
  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" title="{{provider.name}}">
    <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-{{provider.id}} fa-stack-1x fa-inverse"></i>
  </a>
{% endfor %}
