{% extends 'base_site.html' %}
{% load i18n %}

{% block title %}{% trans 'Inicio' %}{% endblock %}

{% load tabs %}
{% block navigation %}{% activetab	"topnav"	"Inicio" %}{{ block.super }}{% endblock %}

{%comment%}
{% block container %}
    <div class="wrapper">
      <div id="menu">
        <div class="box">
        {% include 'account/login.html' %}
        </div>
      </div>
      <div id="content">
        {% block content %}
        <h1>{% blocktrans %}Welcome to {{ site_name }}{% endblocktrans %}</h1>
        <div>
         {{ site_description|safe }}
        </div>
        {% endblock %}
      </div>
      <div style="clear: both;"></div>
    </div>{% endblock %}
{%endcomment%}
