{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block menu %}<div class="box">
          <h2>{% trans 'Mi cuenta' %}</h2>
          <ul>
            <li><a class="" href="{% url profile-show %}"><span>{% trans 'Mi Perfil' %}</span></a></li>
            <li><a class="" href="{% url profile-edit %}"><span>{% trans 'Editar Perfil' %}</span></a></li>
            <li><a class="current" href="{% url account-password_change_form %}"><span>{% trans 'Cambiar contraseña' %}</span></a></li>
            <li><a href="{% url account-logout %}"><span>{% trans 'Cerrar sesión' %}</span></a></li>
          </ul>
        </div>{% endblock %}

{% block content %}
<h2>{% trans 'Password change' %}</h2>
    <p>
	{% if form.old_password %}{% blocktrans %}Por favor, por razones de seguridad, introducí primero tu contraseña
	antigua y luego introducí la nueva contraseña dos veces para verificar que
	la has escrito correctamente.{% endblocktrans %}
	{% else %}{% blocktrans %}Por favor, introducí la nueva contraseña dos veces para verificar que
	la has escrito correctamente.{% endblocktrans %}{% endif %}
    </p>

    <form action="" method="post">
      {% if form.old_password %}<div>
        <label for="id_old_password">{% trans 'Old password:' %}</label>
        {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
        {{ form.old_password }}
	  </div>{% endif %}
      <div>
	    <label for="id_new_password1">{% trans 'New password:' %}</label>
        {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
        {{ form.new_password1 }}
      </div>
      <div>
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
        {{ form.new_password2 }}
      </div>
      <div><input class="submit-passwd" type="submit" value="{% trans 'Change my password' %}" /></div>
    </form>
{% endblock %}

