{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block menu %}<div class="box">
          <h2>{% trans 'Mi cuenta' %}</h2>
          <ul>
            <li><a class="current" href="{% url account-password_change_form %}"><span>{% trans 'Cambiar contraseña' %}</span></a></li>
            <li><a href="{% url account-logout %}"><span>{% trans 'Cerrar sesión' %}</span></a></li>
          </ul>
        </div>{% endblock %}

{% block content %}
<h2>{% trans 'Password change successful' %}</h2>
    <p>{% trans 'Your password was changed.' %}</p>
    {% if not user.is_authenticated %}<p><a href="{% url account-login %}">{% trans 'Iniciar sesión' %}</a></p>{% endif %}

{% endblock %}

