{% load i18n %}
¡Hola {{ user.first_name }}!

{% blocktrans %}Estás recibiendo este mensaje debido a que solicitaste restablecer la contraseña
para tu cuenta de usuario en {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Por favor, hacé click en el link siguiente para restablecer tu contraseña:{% endblocktrans %}

http://{{ domain }}{% url account-password_change pwdreset_key %}

{% blocktrans %}Tu nombre de usuario, en caso de haberlo olvidado:{% endblocktrans %} {{ user.username }}

{% blocktrans %}¡Gracias por utilizar {{ site_name }}!{% endblocktrans %}
--
http://{{ domain }}/
