{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block head-description %}{% trans 'Password reset' %}.{% endblock %}

{### MAIN ###}
{% block content %}<h2>{% trans 'Password reset' %}</h2>

  <p>
    {% blocktrans %}¿Olvidaste tu contraseña? Ingresá tu dirección de correo electrónico y te enviaremos las instrucciones para generar una nueva, junto a tu nombre de usuario.{% endblocktrans %}
  </p>
  <form id="form-reset" action="" method="post">
    <div>
      <label for="id_email">{% trans 'E-mail address:' %}</label>
      {% if form.email.errors %} <div class="error">{{ form.email.errors|join:", " }}</div>{% endif %}
      {{ form.email }}
    </div>
    <div><input type="submit" value="{% trans 'Reset my password' %}" /></div>
  </form>
{% endblock %}
