div.paginator { 
  color:#808080;
  line-height:140%;
  padding: 0px;
  margin: 12px 50px 0px;
  text-align: center;
}
div.paginator span {
  margin:2px;
  text-align:center;
}    
div.paginator a { 
  border:1px solid #CCCCCC;
  font-size:0.8em !important;
  font-weight:100;
  padding:3px 6px !important;
  text-decoration:none !important;
}
div.paginator a:hover { 
  background-color: #568799;
  border:1px solid #000000;
  color:#FFFFFF !important;
  font-weight:bold;
}
span.paginate-first a, span.paginate-last a,
span.paginate-previous a, span.paginate-next a { 
  font-weight:normal;
  border: 1px solid #FFFFFF;
}
span.paginate-first a:hover, span.paginate-last a:hover,
span.paginate-previous a:hover, span.paginate-next a:hover { 
  font-weight:normal;
}
span.paginate-current {
  color:#000000;
  font-weight:bold;
}

span.paginate-link a {
  border:1px solid #CCCCCC;
  font-size:0.8em !important;
  font-weight:100;
  padding:3px 6px !important;
  text-decoration:none !important;
}
span.paginate-link a:hover {
  background-color: #568799;
  border:1px solid #000000;
  color:#FFFFFF !important;
  font-weight:bold;
}
span.paginator-total {
  font-size: 90%;
}
