/*--------------------------------------------*/
/*               Basic elements               */

a {
  color:#388DBF;
  text-decoration:none;
}
a:hover {
  color:#388DBF;
  text-decoration:underline;
}
img {
  border:0 none;
  margin:0;
  padding:0;
}
html[xmlns] .clearfix {
  display:block;
}
div.clearfix {
  overflow: hidden;
  width: 100%;
}
.clear {
  clear:both;
  height:2px;
}
h3 {
  color : #000;
  font-size:16px;
  font-weight: bold;
}

/*--------------------------------------------*/
/*                 Areas                      */
#page {
  min-width: 990px;
}
/*--------------------------------------------*/
/*                     Top                    */
#top {
  background: #6d1586 url('../images/bg_header.png') repeat-x scroll center center;
  height: 20px;
}
#container-top {
  width: 990px;
}
#top h1#title {
  background: transparent url('../images/fiubar.png') no-repeat right top;
  text-indent: -1000px;
  display: block;
  margin: 7px 0px 0px 5px;
  width: 200px;
  height:45px;
  float: left;
}
#top h1#title span, #slogan {
  text-indent: -5000px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}

#top {
  background:none repeat scroll 0 0 #3D7CB1;
  margin-bottom:10px;
  position:relative;
  z-index:999;
  height: 40px;
  background: #6d1586 none repeat-x scroll center center;
}
#top .nav {
  margin:0 auto;
  position:relative;
  width:990px;
  padding:0px;
  background: #6d1586 none repeat-x scroll center center;
}
#top p  {
margin-bottom:10px;
}
#top p, #top ul.onglets {
color:#222222;
font-size:15px;
line-height:21px;
}
#top p, #top ul.onglets {
font-family:'Helvetica Neue',Arial,sans-serif;
margin-bottom:20px;
}
#top ul.onglets {
font-size:13px;
line-height:20px;
list-style:none outside none;
margin:0;
padding:0;
position:relative;
padding-left:20px;
color:#222222;
}
#top ul.onglets li {
float:left;
margin:0;
padding:0;
position:relative;
}
#top ul.onglets li.home a {
  background: transparent url('../images/fiubar.png') no-repeat right top;
height:0;
margin:0;
overflow:hidden;
padding:40px 0 0;
width:200px;
}
#top ul.onglets li a {
color:#FFFFFF;
display:block;
float:left;
font-weight:bold;
padding:8px 10px;
}
#top ul.onglets li a {
color:#DEE6EF;
padding:10px 15px;
text-decoration:none;
font-size: 14px;
}
#top ul.onglets li a:hover {
background-color:#A968BC
}

ul.login {
  float: right;
  margin:0px;
  padding:0px;
  font-size: 12px;
  color: #FFF;
}
ul.login li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin:0px;
  padding: 0px 10px;
  float: left;
  font-size: 11px;
  line-height: 25px;
  height: 25px;
  font-size: 12px;
}
ul.login li a {
  color: #DBBFE2;
}
ul.login li a:hover {
  color: #FFFFFF;
}
ul.login .welcome-user {
  padding-right: 10px;
  border-right: 1px dotted #CCC;
}
ul.login .username {
  color: #EEEE99;
  font-weight: bold;
}
/*--------------------------------------------*/
/*                   Onglet                   */
#onglet {
  background-color: #6d1586;
  border-bottom:1px solid #333;
}
#container-onglet {
  width: 970px;
  text-align: left;
}
#menu_onglet {
  background-color: transparent;
  padding-left: 150px;
}
#menu_onglet li a {
  background-color: #6d1586;
}
#menu_onglet li#current a {
  background-color: #a968bc;
  border-color: #333 #333 #a968bc #333;
}
/*--------------------------------------------*/
/*                  Container                 */
#container {
  background-color: #FFFFFF;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px 8px;
  width: 960px;
  margin:  0px;
  margin: 20px auto;
  padding: 20px 20px;
  min-height: 300px;
}
.wrapper {
  width: 950px;
  padding: 0;
}
.wrapper h2 {
  color: #000;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
.wrapper h3 {
  color: #000;
  font-size:16px;
  font-weight:bold;
}
#menu .box {
  border: 1px solid #CCC;
  background-color: transparent;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px 8px;
  padding-bottom: 3px;
}
#menu .box h2 {
  background-color: transparent;
  color: #6d1586;
  font-size: 17px;
  font-weight: normal;
  line-height: 23px;
  padding: 5px 13px;
  margin: 0px;
  border: 0px;
}
#menu .box ul {
  margin:0px;
  padding:0px;
}
#menu .box li {
  padding: 0px 2px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#menu .box a {
  color:#333;
  border: 0px;
  margin: 1px 2px;
  padding: 6px 10px;
  font-size: 13px;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px 8px;
}
#menu .box a:hover{
  background-color: #A968BC;
  color:#eeeeee;
}
#menu .box a.current {
  color:#fff;
  background-color:#333;
  font-weight: bold;
}
#menu .box hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height:1px;
  width:160px;
  margin-top:4px;
  margin-bottom:4px;
}
/* Banner */
#menu .box-news {
  background-color: transparent;
  border: 0px solid #666;
  padding: 0px;
  margin-bottom:20px;
}
#menu .box-news a {
  border: 0px solid #000;
  padding: 0px;
}
#menu .box-news a:hover {
  border: 0px solid #000;
  background-color: transparent;
  color: #FF66FF;
}
/* Tags cloud */
#menu .box a.action {
  text-align: right;
  color: #6d1586;
  font-weight:normal;
  font-size: 11px;
  margin: 0px 5px 3px 0px;
  padding: 5px 0px 0px;
}
#menu .box a.action:hover {
  background-color: transparent;
  text-decoration:underline;
  color: #6d1586;
}
#menu .box .tag-cloud {
  text-align: center;
  margin: 0px 5px;
}
#menu .box .tag-cloud span {
  line-height: 22px;
}
#menu .box .tag-cloud a {
  padding: 2px 2px;
  display: inline;
}
.tag-cloud a:hover {
}
.tag-cloud a.current {
}
.feedrss {
  background:transparent url(../images/feeds.gif) no-repeat scroll 5px 5px;
  display:block;
  float:left;
  height:16px;
  line-height:16px;
  padding:5px 5px 5px 30px;
  text-decoration:none;
  font-size: 15px;
}

/*--------------------------------------------*/
/*                   Content                  */
#inner h2 {
  border-bottom: 1px solid #DADADA;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  display:block;
  margin-bottom:0.75em;
  color: #2C2D32;
}
p {
  padding: 0px;
  margin: 15px 0px;
}
#inner p {
  color : #333333;
  font-size: 14px;
  text-align:justify;
}

h3.underlined {
  border-bottom:1px solid #ddd;
  width:220px;
  margin-top:20px;
}

/*--------------------------------------------*/
/*                    Forms                   */
label {
  color: #101010;
  display: block;
  font-weight:bold;
}
form div {
  margin-bottom: 10px;
}
textarea, input[type="text"], input[type="password"] {
  padding: 3px;
  border: 1px solid #CCCCCC;
  /*width: 400px;*/
  color: #404040;
  font-size: 15px;
}
.errorlist {
  padding: 0px !important;
  margin: 0px;
}
.errorlist li, .user-messages li {
  list-style-type:none !important;
}
.errorlist li, div.error {
  background: transparent url('../images/forbidden.png') no-repeat;
  font-family:Verdana,Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #CC0000;
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}
.help_text {
  font-family: Verdana, Arial, Helvetica, Sans Serif;
  font-size: 11px;
  color: #006600;
  margin: 0px;
}
.formstatus, .status-correct, .status-error {
  background-repeat:no-repeat;
  height:16px;
  margin-left:5px;
  padding: 2px 16px 2px 16px;
}
.status-correct {
  background-image: url("../images/correct.png");
}
.status-error {
  background-image: url("../images/exclamation.png");
}
.user-messages {
  padding: 0px !important;
  margin: 5px !important;
  float: right;
  top: -10px;
  position: relative;
}
.user-messages span {
  background-repeat:no-repeat;
  background-position: 3px center;
  font-family: Sans Serif;
  padding: 5px 10px 5px 25px;
  font-weight: bold;
  background-color: #66bb33;
  color: #fff;
}
/*--------------------------------------------*/
/*                Custom styles               */
#inner img.valign-middle {
	vertical-align: middle;
}
#inner img.border-black {
	border: 1px solid #000;
	margin: 1px;
}
#inner .type-none ul {
  padding-left: 0px;
}
#inner .type-none ul li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
.left-dotted {
  border-left: 1px dotted #999;
  padding: 7px 0px 7px 10px;
  margin: 0px 0px 0px 10px;
}
div.float-left {
	float: left;
	margin: 5px 15px 10px 0px;
}
.margin-left {
	text-align: left !important;
	padding-left: 0px;
}
.inline  {
  display: inline;
}
.aligncenter {
	text-align: center !important;
}
.small {
  color: #999;
  font-size: 11px;
}
.smaller {
  color: #999;
  font-size: 9px;
}
a:hover .small, a:hover .smaller {
  color: #ccc;
}
h2 span.small {
  font-size: 14px;
  color:#555;
}
.lt {
  text-decoration:line-through;
}
.chelp {
cursor:help;
}
a.angry-error {
  padding-left: 5px;
  color: #CC0000 !important;
}
.link-button {
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: #E5E5E5;
  border:1px solid #A6A6A6;
  border-color:#A6A6A6 #4F4F4F #4F4F4F #A6A6A6;
  margin: 10px 0px;
  padding: 6px 7px;
  padding-left: 25px;
  text-align:center;
  color: #404040;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px 8px;
  text-decoration: none !important;
}
.link-button:hover {
  cursor: pointer;
  background-color:#E5E5E5;
  border-color: #404040 #0F0F0F #0F0F0F #404040;
  color:#0F0F0F;
}

/*--------------------------------------------*/
/*                   Items                    */
.item  {
  margin: 0px 0px 25px;
}
.item a {
  text-decoration:none;
}
.item a:hover {
  text-decoration:underline;
}
.item h2 > a {
  color:#2C2D32;
}
.item h3 {
  border-bottom: 1px solid #fff;
  padding: 0 0px 3px;
  margin-top:0px;
}
.item h3 > a {
  color:#105CB6;
  border-bottom: 1px solid #388DBF;
}
.item h3 > a:hover {
  color:#0a3f9a;
  text-decoration:none;
}
.item p {
  margin: 0px;
}
.item .text p {
  margin-bottom: 5px;
}
.item .info {
  margin: 10px 0px;
  font-size: 12px;
  color: #666;
}
.item .under {
  clear: both;
  margin: 10px 0px 15px;
  margin: 0px;
}
.item .under > span {
  margin-right: 20px;
  float: left;
}
.item .date {
  font-size:12px;
  color: #ba3939;
  font-weight:bold;
  white-space:nowrap;
  word-spacing:-0.1em;
  margin-right: 0px;
}
.item .datex, .item .tags, .item .categories, .item .edititem, .item .readingblinds, .item .comments, .item .addcomment, .item .editlinks {
  background:transparent url(../images/icons.gif) no-repeat scroll 0 0;
  display:block;
  font-size:12px;
  height:16px;
  line-height:20px;
  padding-left:22px;
  color: #666;
}
.item .act {
  float:right;
  height:16px;
}
.item .act span {
  float:left;
  margin-left:15px;
}
.item .tags {
  background-position:0 -16px;
  float:left;
}
.item .categories {
  background-position:0 -32px;
  float:left;
}
.item .datex {
  background-position:0 -48px;
  float:left;
}
.item .edititem {
  background-position:0 -64px;
}
.item .comments {
  background-position:0 -96px;
  float:left;
}
.item .addcomment {
  background-position:0 -112px;
  float:left;
}
.fixed, .clear {
  clear:both;
}
.item .body {
  padding: 0px;
  text-align:justify;
}
.item .body h1 {
  font-size: 15px;
}
.item .body h2, .item .body h3, .item .body h4, .item .body h5, .item .body h6 {
  font-size: 15px;
  margin: 10px 0px 0px;
}
.item .media {
  float: right ;
  margin: 0px 0px 10px 10px;
}
.item img.thumbnail {
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  background:#FFFFFF none repeat scroll 0 0;
  border:1px solid #DDDDDD !important;
  padding:4px;
}
.item .thumbnail:hover img {
  background:#38BF8D none repeat scroll 0 0;
  border-color:#38BF8D;
}
.item .readmore {
  font-size: 12px;
}
.item .body .link {
  font-size: 11px !important;
  margin-right: 8px;
}
.item .body .link a {
  color: #777;
}
.item .body .link a:hover {
}

/*--------------------------------------------*/
/*                 Navigation                 */
#pagenavi, #postnavi {
  margin:10px -5px 0;
  padding:10px 5px 0;
}
#pagenavi .newer a, #postnavi .prev a {
  float:left;
}
#pagenavi .older a, #postnavi .next a {
  float:right;
}
#pagenavi a, #postnavi a {
  line-height: 20px;
  font-size: 13px;
  font-variant: small-caps;
  color:#666666;
  text-decoration:underline;
}
#pagenavi a:hover, #postnavi a:hover {
  color:#000;
}
/*--------------------------------------------*/
/*                  Error 505                 */

.leftcolumn {
  color:black;
  display:block;
  float:left;
  font-size:80%;
  overflow:hidden;
  padding-right:10px;
  padding-top:10px;
  text-align:left;
  width:330px;
}
.left_caption {
  font-family:Georgia,"Times New Roman",Times,serif;
  font-style:italic;
  font-weight:normal;
  margin-top:2em;
}

div.text, div.photo, div.link, div.video, div.audio, div.conversation, div.quote {
  font-size:1em;
  line-height:1.4em;
  position:relative;
}
.rightcolumn {
  display:block;
  float:left;
  margin-left:10px;
  padding:5px 20px;
  width:330px;
}
div.photo img {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:black url(/media/images/stripe.png) repeat scroll left top;
margin:20px 0;
padding:10px;
}

.explanation {
  color: #444;
  font-weight: normal;
  font-size: 90%;
}

#page {
margin: 10px 0px 10px auto;
}
#top {
width:960px;
margin: 0px auto;
height: 40px;
padding:20px;
}
#top .nav {
width:auto;
}
#top ul.onglets li {
margin: 0px 20px;
}
#top ul.onglets li.home {
margin: 0px;
}
#top ul.onglets li a {
font-size:14px;
font-weight:normal;
text-decoration:underline;
}
#top ul.onglets li a:hover {
background-color:#6D1586;
}
#top ul.onglets li#current a {
font-weight:bold;
color:#fff;
text-decoration:none;
}
#container {
margin-top: 10px;
}
#footer {
border:0px;
margin:0px auto;
}
#footer div {
margin: 15px 0px;
padding: 0px;
}
#footer h4 {
font-weight:normal;
}
#footer div a {
    padding: 0px 30px;
}
.correlativa a {
color:#666666;
}
#tools {
  color: #666;
  font-size: 12px;
  float:right;
  position:relative;
}
#tools img {
vertical-align:middle;
}
