{% extends 'base_materias.html' %}
{% load i18n %}


{% block title %}{% trans 'Materias' %}{% endblock %}
{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/files.css" type="text/css" />
{% endblock %}

{% block main-content %}
<h2>{% trans 'Materias' %}</h2>


    <h2>Ultimos archivos</h2>
    <div class="files">
        {% if files_list %}
        <ul>
            {% for f in files_list %}
            <li class="file-{{ f.extension }}">
                {{ f.folder.group }}:
                <a href="/materias/{{ f.folder.group.email }}/files{{ f.folder.path }}">{{ f.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


{% endblock %}



