{% extends 'base_site.html' %}
{% load i18n %}

{% block title %}{% trans 'Error del servidor' %}{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<h1>{% trans 'Error del servidor' %}</h1>
<div class="post">
	<div class="photo leftcolumn">
		<img src="/media/images/dog_computer.jpg" alt="" class="error500" style="background-color: rgb(95, 104, 127);" />
	</div>
	<div class="rightcolumn">
		<div class="left_caption">
  			<p>Ha ocurrido un error. Se ha informado a los administradores del sitio mediante correo electrónico y debería ser solucionado en breve. <br /><br />
	       <strong>¡Gracias por tu paciencia!</strong></p>
   
		</div>
	</div>
</div>
{% endblock %}
