{% extends 'registration/base.html' %}
{% load i18n humanize %}

{% block title %}{% trans 'Activación de la cuenta' %}{% endblock %}

{% block content %}
<h2>{% trans 'Activación de la cuenta' %}</h2>
    {% if account %}
        <p>
            {% trans '¡Gracias por registrarte!' %}
            {% trans '¡Ahora podés' %} <a href="{% url account-login %}">{% trans 'iniciar sesión' %}</a>
            {% trans 'y empezar a usar el sitio!' %}

        </p>
    {% else %}
        <p>
            {# blocktrans with expiration_days|apnumber as exp_days %}Either your activation link was incorrect, or the activation key for your account has expired; activation keys are only valid for {{ exp_days }} days after registration.{% endblocktrans #}
			El link de activación era incorrecto o la clave de activación para tu cuenta ha expirado; las claves de activación son válidas sólo por {{ exp_days }} dí­as a partir de la registración.
        </p>
    {% endif %}
{% endblock %}
