{% load i18n humanize %}

{% blocktrans %}Alguien creó una nueva cuenta en {{ site_name }} usando esta dirección de correo electrónico. Si fuiste vos, y te gustaría activar la cuenta y empezar a utilizarla, hacé click en el link siguiente o copiá y pegalo en la barra de direcciones de tu navegador:{% endblocktrans %}

{{ site_url }}account/activate/{{ activation_key }}/

{% blocktrans with expiration_days|apnumber as exp_days %}En el caso de que no hayas sido vos, no necesitás hacer nada; no recibirás ningún otro mail de parte nuestra, y tu cuenta expirará automáticamente en {{ exp_days }} días.{% endblocktrans %}

--
{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}
{{ site_url }}
