{% load i18n %}
{% autoescape off %}
New user
========

username:   {{ new_user.username }}
first_name: {{ new_user.first_name }}
last_name:  {{ new_user.last_name }}
email:      {{ new_user.email }}
{% spaceless %}
{% if not new_user.tipo_request_auth %}
{% ifequal new_user.tipo_verificacion 'p' %}
padron:     {{ new_user.verificacion }}
{% else %}
@fi.uba.ar: {{ new_user.verificacion }}
{% endifequal %}{% endif%}
{% endspaceless %}
{% if new_user.tipo_request_auth %}
Authorization Request
---------------------
{% spaceless %}
{% ifequal new_user.tipo_request_auth 'g' %}Graduado{% endifequal %}
{% ifequal new_user.tipo_request_auth 'd' %}Docente{% endifequal %}
{% ifequal new_user.tipo_request_auth 't' %}No docente{% endifequal %}
{% ifequal new_user.tipo_request_auth 'c' %}CBC{% endifequal %}
{% ifequal new_user.tipo_request_auth 'e' %}No reconoció mi padrón{% endifequal %}
{% ifequal new_user.tipo_request_auth 'o' %}{{ new_user.request_auth }}{% endifequal %}
{% endspaceless %}
{% endif %}
{% endautoescape %}
