{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Registración exitosa' %}{% endblock %}
{% block head-description %}{% trans 'Registración exitosa' %}.{% endblock %}

{% block content %}
<h2>{% trans 'Registración exitosa' %}</h2>
    {% load humanize %}
    {% if send_email %}
    <p>
        Se ha enviado un mail a tu correo electrónico <strong>{{ activation_email }}</strong> junto con las instrucciones para activar tu cuenta.
    </p>
    {% else %}
    <p>
      Gracias por registrarte, responderemos tu pedido muy pronto.
    </p>
    {% endif %}

{% endblock %}

