{% extends 'base_site.html' %}
{% load i18n humanize markup %}
{% load article_tags tagging_tags comments %}

{% block title %}{% trans 'Noticias' %}{% endblock %}
{% block head-extra %}   <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} RSS Feed Posts" href="{% url article_list_index %}feeds/{#{% if category %}categories/{{ category.slug }}{% else %}latest{% endif %}/#}latest/" />{% endblock %}

{% load tabs %}
{% block navigation %}{% activetab	"topnav"	"Noticias" %}{{ block.super }}{% endblock %}

{% block menu %}
  {% category_menu_box %}
  {% tags_menu_box %}
{% endblock %}

{% block content %}
    <h2>{% include 'articles/article_list_heading.txt' %}</h2>
	{% for article in article_list %}
    <div class="item clearfix">
      <span class="date" style="float: right; color: #888; font-weight: normal;">{{ article.publish_date|date:"d F Y" }}</span>
      <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
      <div class="body">
        {% if article.image %}<span class="media"><img src="{{ article.get_image_url }}" class="thumbnail" alt="" /></span>{% endif %}
        <div class="text">
          {{ article.snippet|markdown }}
          <p><a href="{{ article.get_absolute_url }}" class="readmore">{% trans 'Leer más &raquo;' %}</a></p>
        </div>
      </div>    {% comment %}
      <div class="info">
        <div class="under">{% tags_for_object article as tag_list %}
          <span class="pub-date">Publicado: </span>
          <span class="date">{{ article.publish_date|date:"d F Y" }}</span>
          <span class="categories span-item">
            <a rel="category" title="{% blocktrans with article.category as category %}View all posts in {{ category }}{% endblocktrans %}" href="{{ article.category.get_absolute_url }}">{{ article.category }}</a>
          </span>
          {% if tag_list %}<span class="tags span-item">{% for tag in tag_list %}
            <a rel="tag" href="{% url article-tags tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
          </span>{% endif %}
{% get_comment_count for article as comment_count %}
          <span class="comments span-item"><a title="{% blocktrans with article.title as title %}Dejá tu comentario sobre {{ title }}{% endblocktrans %}" href="{{ article.get_absolute_url }}#respond">
          {% if comment_count %}{% blocktrans %}{{ comment_count }} comentario{% endblocktrans %}{{ comment_count|pluralize }}{% else %}{% trans 'Dejá tu comentario' %}{%endif%}</a></span>
          {% ifequal user article.author %}<span class="edititem"><a title="{% trans 'Editar artículo' %}" href="{{ article.get_edit_url }}">{% trans 'Editar' %}</a></span>{% endifequal %}
        <div class="act">        </div>
        </div>
      </div>    {% endcomment %}
    </div> 
    
    {% comment %}
    <!--  
    <div class="span-8 post-311">
		<h3 class="archive-header"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
		{% if article.image %}<p><a href="{{ article.get_absolute_url }}"><img alt="" src="{{ article.get_image_url }}" title="" class="aligncenter"/></a></p>{% endif %}
		{{ article.snippet|markdown }}
		<p class="postmetadata"><a href="{{ article.get_absolute_url }}" class="readmore">{% trans 'Leer más &raquo;' %}</a>
			{% commen t %}{% get_comment_count for article as comment_count %}
			<a title="{% blocktrans with article.title as title %}Dejá tu comentario sobre {{ title }}{% endblocktrans %}" href="{{ article.get_absolute_url }}#respond">{% if comment_count %}{% blocktrans %}{{ comment_count }} comentario{% endblocktrans %}{{ comment_count|pluralize }}{% else %}{% trans 'Dejá tu comentario' %}{%endif%} &raquo;</a>{% endcommen t %}
		</p>
	</div>
    {% if forloop.counter|divisibleby:"3" %}<div class="archive-stack clear"></div>{% endif %}
    <div class="archive-stack clear"></div>
    -->
    {% endcomment %}

    {% empty %}
    	<div>No se encontraron items.</div>
    {% endfor %}
    {% if page_obj.has_next or page_obj.has_previous %}<div id="postnavi">
      {% if page_obj.has_next %}<span class="prev"><a href="?page={{ next }}">← {% trans 'Anterior' %}</a></span>{% endif %}
      {% if page_obj.has_previous %}<span class="next"><a href="?page={{ previous }}">{% trans 'Siguiente' %} →</a></span>{% endif %}
      <div class="fixed"></div>
    </div>{% endif %}
{% endblock %}
