{% load i18n %}
  <div class="box-news">
  <a href="{% url articles-submit %}"><img src="/media/images/article-publish.png" alt="" /></a>  
  </div>
  <div class="box">
    <h2>{% trans 'Categorías' %}</h2>
    <ul>
      <li><a class="main{% if not category and not tag %} current{% endif %}" href="{% url article_list_index %}">{% trans 'Todas' %}</a></li>
    {% for c in category_list %}
      <li><a href="{{ c.get_absolute_url }}"{% ifequal c category %} class="current"{% endifequal %}>{{ c.name }}</a></li>{% endfor %}
    </ul>
  </div>
