{% extends 'base_site.html' %}
{% load i18n humanize markup %}
{% load article_tags tagging_tags %}

{% block title %}{% trans 'Noticias' %}{% endblock %}
{% block head-extra %}  <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} RSS Feed Posts" href="{% url article_list_index %}feeds/latest/" />{% endblock %}

{% load tabs %}
{% block navigation %}{% activetab	"topnav"	"Noticias" %}{{ block.super }}{% endblock %}

{% block menu %}
  {% category_menu_box %}
{% endblock %}

{% block content %}
  {% tag_article_cloud as tag_list with steps=20 distribution=log %}
  <h2>{% trans 'Tags' %}</h2>
  <div class="tag-cloud">{% for tagx in tag_list %}
    <span>
      <a  style="font-size: {% tag_font_size tagx.font_size 10 10 24 %}px" rel="tag" href="{% url article-tags tagx %}"{% ifequal tagx tag %} class="current"{% endifequal %}>{{ tagx }}</a>
    </span> {% endfor %}
  </div>
{% endblock %}
