{% extends 'base_site.html' %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<h1>{% trans 'Page not found' %}</h1>
<div class="post">
	<div class="photo leftcolumn">
		<img src="/media/images/404_marmot.jpg" alt="" class="error500" style="background-color: rgb(95, 104, 127);" />
	</div>
	<div class="rightcolumn">
		<div class="left_caption">
  			<p>{% trans "We're sorry, but the requested page could not be found." %}</p>
   
		</div>
	</div>
</div>
{% endblock %}


