{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ site_description }}{% endblock %}
{% block head-extra %}{% endblock %}

{% block top %}
    <div id="container-top">
      <h1 id="title"><span>{{ site_name }}</span></h1>
      <div id="slogan">{{ site_description }}</div>
      <p>{% if user.is_authenticated %}
        Hola {{ user.username }}! | 
        <a href="{% url account-logout %}">{% trans 'Log out' %}</a>
      {% else %}<a href="{% url account-login %}">{% trans 'Log in' %}</a>
      {% endif %}</p>
    </div>{% endblock %}

{% block container %}
    <div class="wrapper">
      <div id="menu">
        {% block menu %}<div class="box">
          <h2>Menu Title</h2>
          <ul>
            <li><a><span>Menu Item 1</span></a></li>
            <li><a><span>Menu Item 2</span></a></li>
            <li><a><span>Menu Item 3</span></a></li>
            <li><a><span>Menu Item 4</span></a></li>
            <li><a><span>Menu Item 5</span></a></li>
          </ul>
        </div>{% endblock %}
      </div>
      <div id="content">
        {% block content %}
        <h2>Content Title</h2>
        <div>
          Rerum sint impedit officia nemo, explicabo cum omnis ipsa 
          laudantium ullam quibusdam ut totam saepe? Quis exercitationem 
          voluptatem qui eveniet cumque ullam quasi facere eius sit modi. 
          Sed quaerat atque delectus modi ipsa rem, doloribus vitae non, 
          quasi autem qui odio sint deserunt, necessitatibus maiores iste 
          modi illum reiciendis soluta nihil itaque? Ratione exercitationem 
          fuga voluptatibus id nostrum dolor nam sunt ipsam, obcaecati sunt 
          corrupti eveniet rem explicabo, doloremque voluptatem fugiat 
          minima quos, totam quia ea voluptas autem, quaerat omnis nisi 
          voluptatem corporis ullam porro sint eaque autem molestiae 
          assumenda.
        </div>{% endblock %}
      </div>
      <div style="clear: both;"></div>
    </div>{% endblock %}

{% block footer %}
  <div id="footer-main">
    <p class="footer-p">Copyright &copy; 2008 - OpenMate is OpenSource</p>
  </div>
{% endblock %}

{% block body-extra %}
  <!-- 
  <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/awstats_misc_tracker.js"></script>
  <noscript><img src="{{ MEDIA_URL }}js/awstats_misc_tracker.js?nojs=y" height="0" width="0" alt="" style="display: none" /></noscript>
  -->
{% endblock %}
