{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Creá tu cuenta' %}{% endblock %}
{% block head-description %}{% trans 'Creá tu cuenta' %}.{% endblock %}

{% block content %}
    <h2>{% trans 'Creá tu cuenta en Fiubar' %}</h2>
    <p>
      El uso de Fiubar es exclusivo para la comunidad de la
      <a href="http://www.fi.uba.ar/">Facultad de Ingeniería (FIUBA)</a>; es por eso que te pedimos
      <span class="registration-note">tu padrón o cuenta de email @fi.uba.ar</span>.
      Sin embargo, si no tenés ninguno de los dos, pero estás interesado en participar,
      <a href="javascript:void(0);" onclick="show_request_auth()">contanos por qué querés registrarte</a>,
      y analizaremos tu pedido.
    </p>
    <p>
      Completá el formulario (todos los campos son obligatorios), y tu cuenta será creada;
      te mandaremos un email con las instrucciones donde te indicaremos cómo terminar con la registración.
      En el caso que elijas ingresar tu cuenta de email @fi.uba.ar, te enviaremos
      el mail de activación a esa casilla.
    </p>

	  <style>
		input[type="text"] { width: 300px; }
		#id_verificacion { width: 167px; }
		input[type="password"] { width: 270px; }
	  </style>
    <form id="form-register" method="post" action="">
      <div>
        <label for="id_username">{{ form.username.label }}:</label>
        {% if form.username.errors %} <div class="error">{{ form.username.errors|join:", " }}</div>{% endif %}
        {{ form.username }}
        <div class="help_text" id="help_username">{{ form.username.help_text|safe }}</div>
      </div>
      <div>
        <label for="id_verificacion">{% trans 'Padrón/Usuario @fi.uba.ar:' %}</label>
        {% if form.verificacion.errors %} <div class="error">{{ form.verificacion.errors|join:", " }}</div>{% endif %}
        {{ form.tipo_verificacion }}
        {{ form.verificacion }}
      </div>
      <div id="request_auth">
        <label for="request_auth" class="request-auth">
          Si no tenés padrón o email de la facultad, contanos por qué querés registrarte:
        </label>
        {{ form.tipo_request_auth }}<br />
        {% if form.request_auth.errors %} <div class="error">{{ form.request_auth.errors|join:", " }}</div>{% endif %}
        {{ form.request_auth }}
      </div>
      <div>
        <label for="id_first_name">{{ form.first_name.label }}:</label>
        {% if form.first_name.errors %} <div class="error">{{ form.first_name.errors|join:", " }}</div>{% endif %}
        {{ form.first_name }}
        <div class="help_text" id="help_first_name">{{ form.first_name.help_text|safe }}</div>
      </div>
      <div>
        <label for="id_last_name">{{ form.last_name.label }}:</label>
        {% if form.last_name.errors %} <div class="error">{{ form.last_name.errors|join:", " }}</div>{% endif %}
        {{ form.last_name }}
        <div class="help_text" id="help_last_name">{{ form.last_name.help_text|safe }}</div>
      </div>
      <div>
        <label for="id_email">{% trans 'Email' %}:</label>
        {% if form.email.errors %} <div class="error">{{ form.email.errors|join:", " }}</div>{% endif %}
        {{ form.email }}
        <div class="help_text" id="help_email">{{ form.email.help_text|safe }}</div>
      </div>
      <div>
        <label for="id_password">{{ form.password.label }}:</label>
        {% if form.password.errors %} <div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}
        {{ form.password }}
        <span class="formstatus" id="password_status"></span>
        <div class="help_text" id="help_password">{{ form.password.help_text|safe }}</div>
      </div>
      <div>
        <label for="id_password_verify">{{ form.password_verify.label }}:</label>
        {% if form.password_verify.errors %} <div class="error">{{ form.password_verify.errors|join:", " }}</div>{% endif %}
        {{ form.password_verify }}
        <span class="formstatus" id="password_verify_status"></span>
        <div class="help_text" id="help_password_verify">{{ form.password_verify.help_text|safe }}</div>
      </div>
      <div><input type="submit" value="{% trans 'Crear cuenta' %}" /></div>
</form>
<script src="{{ MEDIA_URL }}/js/registration.js" type="text/javascript"></script>
{% endblock %}

